body {
  margin: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 3fr 3fr 1.2fr 1.5fr 1.5fr 4fr;
  grid-template-rows: 0.7fr 3fr 1.3fr 1fr;
  gap: 4px;
}

.screen {
  background: red;
  grid-row: 1 / 4;
  grid-column: 1 / 6;

  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  max-height: 100%;
}


.menu {
    background-color: teal;
}

.time {
    background-color: palegoldenrod;
}

.log {
    background-color: hotpink;
}

.ability1 {
    background-color: aliceblue;
}

.ability2 {
    background-color: aqua;
}

.rool {
    background-color: blue;
}

.dice1 {
    background-color: blueviolet;
}

.dice2 {
    background-color: brown;
}

.inventory_T {
    background-color: burlywood;
}