body {
    position: relative;

  
    
   .parent_box{
    display: flex;
     
    h3{
        text-align: center;   
    }

    
   }
   .p1{ background-color: antiquewhite;
         width: 43%;
         padding: 10px;
         border: red dashed 3px;
    display: inline-block;
    margin-left: 3%;
    
   }

   .p2{  background-color: antiquewhite;
         width: 43%;
         padding: 10px;
         border: red dashed 3px;   
    margin-left: auto;
    margin-right: 3%;
    
   }
   .grid-container{
    height: 70%;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 15%) 16% 17% 17%;
 
}
    
 
/*.grid__item {
    background-color: aqua;
}*/
    
    


span {

    justify-content: center; /* 横中央 */
    align-items: center;     /* 縦中央 */
      
}
input {
    width: 30px;
    text-align: center;
}

#gi1{
  /* background-color: rgb(138, 104, 104);*/
   grid-column: 1/4;
}

img {
    width: 10px;
    height: 10px;
}
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}