<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/server.css">
    </head>
    <body>
        <div id="app">
            <div v-if="phase[0]">
                <h1 style="text-align: center; font-size: 50px;">ゲームタイトル</h1>
                <h3 style="text-align:center; font-size: 30px;">ユーザーネーム</h3>
                <input class="center" style="width: 400px; height: 35px; font-size: 25px" type="text" id="name" value="fish">
                    <p class="note">全角でお願いします。</p>
                
                <h3 style="text-align:center">部屋番号</h3>

                <form style="text-align: center;">
                    <label>
                        <input type="radio" name="level" value="none" checked>
                            新たに作成
                    </label>
                    <label>
                        <input type="radio" name="level" value="block">
                            部屋に入る
                    </label>
                </form>

                <div id="box" style="display: none">
                    <input class="center"  style="width: 80px; height: 35px; font-size: 25px" type="text" id="room">
                    <p class="note">半角でお願いします。</p>
                </div>

                <h3 class="a" style="text-align:center;">パスワード</h3>
                <input class="center"   style="width: 80px; height: 35px; font-size: 25px" type="text" id="password" value="1234">
                <p class="note">半角でお願いします。</p>

                <button class="center" type="button" onclick="joinRoom()">決定</button>
            </div>

            <!-- 設定画面 -->
             <div v-if="phase[1]">
                
             </div>
        </div>
<!-- location.href='./setting.html -->

        <script type="module">
            const radioButtons = document.querySelectorAll('input[name=level]');
            var ele = document.getElementById('box');

            for (const radioButton of radioButtons) {
                radioButton.addEventListener('change', () => {
                    if (radioButton.checked) {
                        console.log(radioButton.value);

                        ele.style.display = radioButton.value;
                    }
                });
            }

            let socket;

            window.joinRoom = joinRoom;
            function joinRoom() {
                /* それぞれの情報を取得する */

                const name = document.getElementById('name').value;
                const room = document.getElementById('room').value;
                const password = document.getElementById('password').value;

                console.log("名前", name, "部屋番号", room,"パスワード", password);

                socket = new WebSocket('ws://localhost:3000');

                socket.onopen = () => {
                    console.log("接続完了");

                    if (ele.style.display === 'block') {
                        const data = ["enter", name, room, password];
                        socket.send(JSON.stringify(data));
                        console.log("enter");
                    } else {
                        const data = ["create", password, name];
                        socket.send(JSON.stringify(data));
                        console.log("create");
                        
                    }

                    socket.addEventListener('message', (event) => {
                        const data = JSON.parse(event.data);
                        if (data === 'created') {
                        phase_Change(1);
                        
                        console.log("メッセージを受け取りました。");
                    };
                    });
                };
                
                socket.onclose = () => console.log("切断");
                socket.onmessage = e => console.log("受信:", e.data);

               
            }

             import { createApp, ref, computed } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

                createApp({
                    setup() {
                        const phase = ref([true, false, false]);

                        window.phase_Change = phase_Change;
                        function phase_Change(x) {
                            phase.value = phase.value.map(() => false);
                            phase.value[x] = true;
                        }

        
                        return {
                            phase,
                            phase_Change
                        };
                    }
                }).mount("#app");
        </script>
        
    </body>
</html>