.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.note {
    color: gray;
    text-indent: 55%;
}
.text {
    color: white;
    font-size: 2pc;
    border-bottom: 1px solid white;
}

